* 
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
}

/**
 * Navigation bar
 */
#css-navigation-fixed-container
{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100vw;
}

#css-navigation-bar-container 
{
    margin: 0px auto;
    width: 1150px;
    height: 66px;
}

div.css-navigation-bar-segment
{
    height: 40px;
    width: 20px;
    background: rgba(0, 0, 0, 0.8);
    vertical-align: top;
    display: inline-block;
}

div.css-segment-left
{
    border-bottom-left-radius: 10px;
}

div.css-segment-right
{
    border-bottom-right-radius: 10px;
}

#css-navigation-bar-section-left, #css-navigation-bar-section-right
{
    height: 66px;
    width: 220px;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-family: 'Audiowide', sans-serif;
    vertical-align: top;
    text-align: center;
}

#css-navigation-bar-section-left h1
{
    margin: 0px;
    color: #FFF;
    font-weight: normal;
    padding-top: 4px;
    transition: text-shadow linear 0.2s;
}

#css-navigation-bar-section-left h1:hover
{
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
    cursor: pointer;
}

#css-navigation-bar-section-left h2
{
    font-weight: normal;
    font-size: 0.6em;
    font-family: 'Open Sans';
    color: #EEE;
    margin: 0px;
    margin-top: -5px;
}

#css-navigation-bar-section-centre
{
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    vertical-align: top;
    width: 660px;
    height: 40px;
    font-family: 'Nova Square', monospace;
    color: #FFF;
}

#css-navigation-bar-links-left, #css-navigation-bar-links-right
{
    vertical-align: top;
    width: 310px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 1.0em;
}

#css-navigation-bar-links-left span, #css-navigation-bar-links-right span
{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color linear 0.2s;
    cursor: pointer;
}

#css-link-home:hover
{
    border-bottom-color: #0F0;
}

#css-link-projects
{
    margin: 0px 31px;
}

#css-link-projects:hover
{
    border-bottom-color: #FF0;
}

#css-link-news:hover
{
    border-bottom-color: #F00;
}

#css-link-about:hover
{
    border-bottom-color: #33F;
}

#css-link-archive:hover
{
    border-bottom-color: #F9F;
}

#css-link-archive
{
    margin: 0px 31px;
}

#css-link-contact:hover
{
    border-bottom-color: #FFF;
}

#css-navigation-bar-logo
{
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: 0.8;
}

#css-navigation-bar-logo:hover
{
    opacity: 1.0;
}

i.fa
{
    margin: 15px 6px;
    color: #FFF;
    font-size: 2em;
    transition: color linear 0.15s;
    cursor: pointer;
}

i.fa-github:hover
{
    color: #D8D;
}

i.fa-youtube-square:hover
{
    color: #F44;
}

i.fa-facebook-official:hover
{
    color: #7AF;
}

i.fa-google-plus-square:hover
{
    color: #F72;
}

/**
 * Fade in animation
 */
#css-fade-overlay
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0vw;
    height: 0vh;
    z-index: 2;
    background: #000;
    animation-name: css-keyframes-fade-overlay;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes css-keyframes-fade-overlay
{
    0% { opacity: 100.0; width: 100vw; height: 100vh; }
    20% { opacity: 80.0; }
    50% { opacity: 20.0 }
    100% { opacity: 0.0; width: 100vw; height: 100vh; }
}

/**
 * Column container
 */
#css-column-container
{
    width: 1200px;
    margin: 80px auto 0px auto;
    min-height: 88vh;
}

i.fa-minus, i.fa-plus
{
    font-size: 0.65em;
    margin: 2px 0px 0px;
    vertical-align: top;
}

/**
 * Left column container
 */
#css-content-panel-column
{
    width: 680px;
    margin-top: 20px;
    margin-left: 80px;
    display: inline-block;
    vertical-align: top;
}

#css-content-panel-column hr
{
    border: 1px dashed #000;
    height: 1px;
    margin: -17px 0px 20px;
}

div.css-content-panel-post-container
{
    width: 680px;
    margin-bottom: 30px;
}

div.css-content-panel-post-space-short
{
    width: 15px;
    height: 15px;
    display: inline-block;
}

div.css-content-panel-post-top
{
    width: 628px;
    height: 15px;
    display: inline-block;
    border-left: 1px dashed #000;
    vertical-align: bottom;
}

div.css-content-panel-post-date
{
    height: 15px;
    width: 170px;
    color: #FFF;
    font-family: 'Nova Square', monospace;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px dashed #000;
    border-right: 1px dashed #000;
    display: inline-block;
    padding: 1px 8px;
    font-size: 0.6em;
    vertical-align: top;
    text-transform: lowercase;
    letter-spacing: 4px;
}

div.css-content-panel-post-display
{
    width: 20px;
    height: 15px;
    display: inline-block;
    border: 1px dashed #000;
    border-bottom: none;
    text-align: center;
    vertical-align: bottom;
    background: rgba(0, 0, 0, 0.8);
    transition: background linear 0.1s;
    cursor: pointer;
}

div.css-content-panel-post-space-tall
{
    width: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-content-panel-post-box
{
    width: 648px;
    height: auto;
    max-height: 1100px;
    overflow: hidden;
    border: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    animation-name: css-keyframes-content-box;
    animation-delay: 1.1s;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

div.css-content-panel-post-space-bottom
{
    margin-top: -1px;
    width: 15px;
    height: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-content-panel-post-bottom-noperm
{
    width: 648px;
    height: 15px;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-content-panel-post-bottom-perm
{
    width: 550px;
    height: 15px;
    border-left: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-content-panel-post-perm
{
    width: 98px;
    height: 15px;
    border: 1px dashed #000;
    border-top: none;
    display: inline-block;
    vertical-align: top;
    color: #FFF;
    font-family: 'Nova Square', monospace;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 1px;
    text-align: center;
    font-size: 0.6em;
    vertical-align: top;
    text-transform: lowercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: background linear 0.1s;
}

span.css-title-permalink
{
    cursor: pointer;
    transition: color linear 0.2s;
}

/**
 * Right column container
 */
#css-sidebar-fixed-container
{
    position: fixed;
    width: 100vw;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#css-sidebar-container
{
    width: 1200px;
    margin: 80px auto 0px auto;
}

#css-sidebar-panel-column
{
    float: right;
    width: 280px;
    margin-right: 80px;
    display: inline-block;
    vertical-align: top;
}

#css-sidebar-panel-column h1
{
    text-align: center;
    font-family: 'Nova Square', monospace;
    color: #FFF;
    text-transform: lowercase;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 2px;
}

div.css-sidebar-panel-post-container
{
    width: 280px;
    margin-bottom: 16px;
}

div.css-sidebar-panel-post-space-short
{
    width: 15px;
    height: 15px;
    display: inline-block;
}

div.css-sidebar-panel-post-top
{
    width: 228px;
    height: 15px;
    display: inline-block;
    border-left: 1px dashed #000;
    vertical-align: bottom;
}

div.css-sidebar-panel-post-display
{
    width: 20px;
    height: 15px;
    display: inline-block;
    border: 1px dashed #000;
    border-bottom: none;
    text-align: center;
    vertical-align: bottom;
    background: rgba(0, 0, 0, 0.8);
    transition: background linear 0.1s;
    cursor: pointer;
}

div.css-sidebar-panel-post-space-tall
{
    width: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-sidebar-panel-post-box
{
    width: 248px;
    max-height: 1200px;
    border: 1px dashed #000;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

div.css-sidebar-panel-post-space-bottom
{
    margin-top: -1px;
    width: 15px;
    height: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-sidebar-panel-post-bottom
{
    width: 248px;
    height: 15px;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

#css-sidebar-recent h2, #css-sidebar-updates h2
{
    margin: 0px 8px 10px;
    border-bottom: 1px solid #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 8px 0px;
    text-transform: uppercase;
}

#css-sidebar-recent img
{
    display: block;
    padding-top: 4px;
    margin: 8px auto;
    max-width: 240px;
    max-height: 200px;
}

span.css-view-details
{
    font-size: 0.7em;
    font-family: 'Nova Square', monospace;
    transition: color linear 0.2s;
    cursor: pointer;
    padding: 4px;
}

span.css-view-details i.fa-caret-square-o-right
{
    font-size: 1em;
    margin: 0px;
    transition: color linear 0.1s;
}

#css-sidebar-recent span
{
    float: right;
}

#css-sidebar-recent span:after
{
    clear: both;
}

#css-sidebar-updates span
{
    display: block;
    padding-left: 8px;
    margin-bottom: 8px;
}

div.css-sidebar-button
{
    text-align: center;
    font-size: 0.8em;
    font-family: 'Nova Square', monospace;
    transition: color linear 0.2s;
    cursor: pointer;
    padding: 4px;
    text-transform: lowercase;
}

/**
 * Sidebar box animations
 */
#css-sidebar-recent, #css-sidebar-updates
{
    animation-name: css-keyframes-sidebar-box;
    animation-delay: 2s;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

/**
 * Selection column container
 */
#css-selection-panel-column
{
    width: 350px;
    margin-top: 20px;
    margin-left: 80px;
    display: inline-block;
    vertical-align: top;
}

div.css-selection-panel-box-container
{
    width: 350px;
    margin-bottom: 16px;
}

div.css-selection-panel-box-space-short
{
    width: 15px;
    height: 15px;
    display: inline-block;
}

div.css-selection-panel-box-top
{
    width: 318px;
    height: 15px;
    display: inline-block;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    vertical-align: bottom;
}

div.css-selection-panel-box-display:hover
{
    background: rgba(0, 255, 0, 0.1);
}

div.css-selection-panel-box-space-tall
{
    width: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-selection-panel-box-box
{
    width: 318px;
    max-height: 1200px;
    border: 1px dashed #000;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

div.css-selection-panel-box-space-bottom
{
    margin-top: -1px;
    width: 15px;
    height: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-selection-panel-box-bottom
{
    width: 318px;
    height: 15px;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

#css-special-select-tag-headings
{
    font-family: 'Play', sans-serif;
    margin: 2px 8px -10px;
    display: block;
    font-weight: 400;
    font-size: 0.9em;
}

#css-special-select-tag-default
{
    font-family: 'Play', sans-serif;
    margin: 2px 8px 12px;
    display: block;
    font-weight: 400;
    font-size: 0.9em;
}

div.css-selection-panel-box-box h3
{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    margin: 24px 8px 8px;
}

div.css-selection-panel-box-box ul
{
    list-style-type: none;
    margin: 0px 0px 16px;
}

div.css-selection-panel-box-box li i.fa
{
    margin: 0px;
    font-size: 0.9em;
    vertical-align: 1px;
}

div.css-selection-panel-box-box li
{
    font-family: 'Nova Square', monospace;
    font-size: 0.9em;
    margin-bottom: 4px;
    cursor: pointer;
}

/**
 * Details column container
 */
#css-detail-panel-column
{
    width: 690px;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}

div.css-detail-panel-box-container
{
    width: 690px;
    margin-bottom: 16px;
}

div.css-detail-panel-box-space-short
{
    width: 15px;
    height: 15px;
    display: inline-block;
}

div.css-detail-panel-box-top
{
    width: 658px;
    height: 15px;
    display: inline-block;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    vertical-align: bottom;
}

div.css-detail-panel-box-display:hover
{
    background: rgba(0, 255, 0, 0.1);
}

div.css-detail-panel-box-space-tall
{
    width: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-detail-panel-box-box
{
    width: 658px;
    max-height: 1200px;
    border: 1px dashed #000;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

div.css-detail-panel-box-space-bottom
{
    margin-top: -1px;
    width: 15px;
    height: 15px;
    border-top: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

div.css-detail-panel-box-bottom
{
    width: 658px;
    height: 15px;
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
    display: inline-block;
    vertical-align: top;
}

#css-special-detail-infostrip
{
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}

span.css-special-detail-defaultinfoitem
{
    margin-right: 4px;
    border-right: 1px solid #000;
    padding-right: 4px;
    font-weight: 500;
}

span.css-special-detail-lastinfoitem
{
    font-weight: 500;
}

span.css-detail-section-link, span.css-detail-launch-link
{
    display: inline-block;
    font-size: 0.8em;
    font-family: "Nova Square", sans-serif;
    padding: 0px 4px;
    border: 1px solid #000;
    margin-right: -1px;
    transition: background linear 0.1s;
    cursor: pointer;
}

span.css-detail-launch-link
{
    display: inline;
    float: right;
    margin-right: 0px;
    font-family: "Nova Square", sans-serif;
    text-transform: initial;
    font-size: 18px;
    padding: 0px 6px;
    margin-top: 10px;
}

span.css-detail-launch-link i.fa-caret-square-o-right
{
    margin: 0px;
    font-size: 18px;
}

div.css-detail-panel-box-box img
{
    max-width: 270px;
    max-height: 240px;
}

/**
 * Generic content styling
 */

div.css-content-panel-post-box h2, div.css-selection-panel-box-box h2, div.css-detail-panel-box-box h2
{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 4px 8px 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

div.css-content-panel-post-box p, div.css-detail-panel-box-box p
{
    font-family: 'Ubuntu', sans-serif;
    margin: 2px 8px 10px;
    line-height: 150%;
}

div.css-content-panel-post-box ul, div.css-detail-panel-box-box ul
{
    list-style-type: circle;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 0px 10px;
}

div.css-content-panel-post-box li, div.css-detail-panel-box-box li
{
    margin-top: 4px;
}

div.css-detail-panel-box-box h3
{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 4px 8px 8px;
    padding: 0px 16px 3px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

img.css-img-default
{
    margin: 0px 8px;
    border: 1px solid #000;
}

img.css-img-left
{
    float:left;
}

img.css-img-right
{
    float:right;
}

*.css-text-left
{
    text-align: left;
}

*.css-text-centre
{
    text-align: center;
}

*.css-text-right
{
    text-align: right;
}

/**
 * General box animation
 */
@keyframes css-keyframes-content-box
{
    0% { max-height: 56px; }
    10% { background: rgba(255, 255, 255, 0.3); }
    12% { background: rgba(0, 0, 0, 0.5); }
    14% { max-height: 56px; }
}

@keyframes css-keyframes-sidebar-box
{
    0% { max-height: 41px; }
    10% { background: rgba(255, 255, 255, 0.3); }
    12% { background: rgba(0, 0, 0, 0.5); }
    14% { max-height: 41px; }
}

/**
 * Footer copyright/selling points
 */
#css-body-footer
{
    position: relative;
    z-index: 900;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+55&0+0,1+22 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 22%, rgba(0,0,0,1) 55%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(22%,rgba(0,0,0,1)), color-stop(55%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 22%,rgba(0,0,0,1) 55%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 22%,rgba(0,0,0,1) 55%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 22%,rgba(0,0,0,1) 55%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 22%,rgba(0,0,0,1) 55%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    color: #FFF;
    text-align: center;
    padding: 64px 0px 10px;
}

#css-body-footer p
{
    margin: 0px;
    padding: 2px;
    font-family: 'Nova Square', monospace;
    font-size: 0.7em;
}

/**
 * Backdrop static image
 */
#css-body-backdrop-image
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-width: 177vh;
    height: 100vh;
    min-height: 56vw;
    z-index: -2;
    background-image: url('/Oddmatics V4/Oddmatics V4/images/site-ui/backdrop-home.jpg');
}

/**
 * Setting cursors to default
 */
#css-special-header-welcome, div.css-content-panel-post-date, #css-sidebar-recent h2, #css-sidebar-updates h2, #css-body-footer p
{
    cursor: default;
}

/**
 * Float clearing
 */
#css-float-clear
{
    display: block;
    margin-bottom: 12px;
    clear: both;
}